# Notes
demo
TODO
*.txt

# Tests
*.json
*.test
*.py
test
example
test-coverage
test-cover
coverage.html
*.prof
/data/

# Other
.vscode
*.out
*.exe
*.png
/script/

# Bin
/release/