# Build
/bin/
/release/
/dist/
/vendor/
__pycache__/
/apizza
release-notes*

# Notes
demo
TODO
*.txt

# Tests
/test/
coverage.html
*.json
*.test
!Dockerfile.test
*.py
*.prof
!dawg/testdata/cardnums.json
/env/
dawg/ratelimit_test.go

# Tools
/.vscode
*.code-workspace
scripts/history.sh
scripts/github.sh
scripts/test-versions.sh
scripts/release

# Other
*.out
*.exe
*.mp4
