# Build
/bin/
/release/
/vendor/
__pycache__/

# Notes
demo
TODO
*.txt

# Tests
/test/
coverage.html
*.json
*.test
*.py
*.prof
!dawg/testdata/cardnums.json

# Tools
/.vscode
*.code-workspace
scripts/history.sh
scripts/github.sh
scripts/test-versions.sh

# Other
*.out
*.exe
*.mp4
