language: go

go:
  - 1.11
  - 1.14.1

env:
  global:
    - secure: D9g5mTqWKigBHLSUr2zXH1EmTbcOGu/iQ2ZzBT7uGd0uXso4wD1p/FfBMwiD2fT9XeahtGp52NjAfKsZMWr6MZvuAFNX10w8TKccax0dA+rbV2Fhad9oBD3fgueXNwPewShCslZbv6rbcHEhaOe9vsEJO7vPZEdSznTsU+/lcDJwua1qMS0DxFiGl65pXmNQD/rDFPiJ0b62dIrQ7gp7hvBRdXrZ0HsnD+Mbs8g212tiDoXg/UWkrghXSy0edlVs+p+hqjhsEU6cqrIgljIEGlM3p6fph9+TadxaFlffUO6ehFNaeMf1yN2O/z/eqt2aok7CfBDy8nB7eSY9ruTMvQ381rBa7XilUlfAI6egsSKRKR+1JNCOQRUJnaztZ9087LcJDfrNYJ+jCoK6ueipWyVHINOIM3gAk3Vgd1sb0o0r4l5+rRgFIQnbGJzks407g0dZOEOBQTHCvQcqBON+ws/84/3+MSWSCBpL146ypFquJoWJAHVy186pKV6bPzaSPQxVC36G88OhB1lU9vXGiWuIrdm6s5bJXxZlMI0Zj0HosV5eRrM3Wokz1FFWcej8nprNpmrW6OpmKSd88SfFiO1Vb0qJ6nz0gNkBLqWt6LofZroDfgix7E7o7SbgxCl3MhJrqf0OJHzWITcDl2P01rU8qyLcJsm8aRFclKS9QtU=
    - secure: rIeQDfTT8+/CZ5/1jTGEPzDGq4y0EkJitNs0FXoP+U4pVDPOwLVZEE174ft6/1hk2mAe/uB6ljTA2d5IKUhG7gtx4swICTdsDL2M3e+2TueLwuICk+B/e7rxU0ic7v5Jycoqm3pnvbLpcKRJh1HI8LL0OD3elw5xG2f3nqxduSubSQXgfG1pjC6Tm2I6Y9bRag8G1kyVjDPwCS1QJBiSUPRupe6buyCzyah7Dtpas0B8XK3DPPh8Zty5VZTM7/zqd7/uRgUPxSsNx6ZCcK8V8SMbbxTa23rfN7rsHiquBwHjufFhz1U2oQdH7hr8QETsmCThpFY/g4Uj6L8M42jcL4Ji58l3PTSrmZv+BVXRDws9eD9E2qSSfsmYMf7geQj8K45r1MGeeP7jrLNO1kdZnB4HhSiIw0+eKyEVvtyMaCtlB0BXqbkBYI00h2UeGpkNINihA1T65LCFllsu2ZnXESQFmDy0LkOoIt64cHJb0RgmqMw34V7jydkzf0NTaLXjvh1QHtT6sISLWl4jZp0hvwxZO67moZAs4UQmba/dT3IUFn7WkisE8PArLd2cXPfu8kTp1zCkm7igTXGQ28wqqxFxH4IDks7ijDH6IQtbHd/UC3w6qOCzkHhqaGtL0US3vv42v8zA7hmaDx0KrSiRPzOvcfieXZTg7en8tCdw6rc=
    - secure: PJfeH+GDxJN9oynqsQodn3F3BqaZe/XBHdiK2DnCnLggh1BuCy+01N/C50lhlzno5ETnY4jQ2R2Y0D16pn2ryGzKVy9PUcHCfLh4Rdh4Pb1oiF+PyfEZrY6oQqWpZxTfLBvWjx55ZWO6mlL1gnnMqMuWcjwJmZZGO1XUNz1WpAyi7X0G3vTR+35ydJpKHMI4PzHBoJBd1g9R7cEP2zVfRxw0VNu8NiRgxvcssztfx7v0/Ei+2iGdbCMWyoaqOV7S3jQaJaHMJdDtkPrl9XsmZgnsMMniZiMcjyod/+/5cSIJ2VzznmBPaoxBcudQBe8ygigHkx14yl4igi0ZRcQnV78u9y0VkPAC4FRZGj67e7o/5Nwjd63V/Lv6n4V+pC1S3w3b10DmNf4l6kiKcy5FsXFVpxBjIMeyyhGZ2CSIvcAl7ZwGkxjUpm+fTi2UjOIamjFOhUYAag98rP622M4h5+fG7hZNPHntTtdQVZZQWJpAFTq0KYQ7A3h+T5e3kbJk/oPTiSsAfG0mANZ1y9KRozScu35GLymwbaoBbyT6RWIScV+67AyZkxtFuKamak9s4G1ZZ1SsajbhX7fM8h+jvdLH3UReOqxhmudB0VykBbFMlKRsCYQFBQbeMMoaRzIKLV+En39jrOMg9qAOL9+ouN+EkK48kMaeSYZ2HUZMgzg=
os:
  - linux
  - osx
  - windows

before_script:
  - bash scripts/build.sh

script:
  - bash scripts/test.sh
  - bash scripts/integration.sh ./bin/test-apizza

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email: false